/* .text-first {
    color: red;
}
.text-second {
    color: yellow;
} */

* {
	/* m0 */
	margin: 0;
	/* p0 */
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 24px 40px;
}

menu {
	display: flex;
	align-items: center;
	list-style: none;
	column-gap: 28px;
}

.nav__link {
	font-weight: 400; /* жирність */

	font-size: 12px; /* роозмір шрифта */
	line-height: 14px; /* висота рядка */
	color: #0b3b3c;

	text-transform: uppercase; /* переводимо в верхній регістр */

	text-decoration: none; /* видаляємо поділки */
}

h1 {
	font-size: 33px;
	text-transform: uppercase;
	font-weight: 300;
}

div {
	display: flex;
}

img {
	margin-left: 28px;
}

.hero {
	padding-top: 170px;
	padding-bottom: 170px;
	/* bgi */
	background-image: url(../images/hero-bgi.png);
	/* bgr */
	background-repeat: no-repeat;
	/* bgp */
	background-position: center;
	/* bgs */
	background-size: cover;
	height: calc(100vh - 87.2px);

	box-sizing: border-box;
}

.hero__container {
	width: 500px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.hero__title {
	font-size: 54px;
	line-height: 80px;
	letter-spacing: 1.8px;
	color: #0b3b3c;

	/* mb23 */
	margin-bottom: 23px;
}

.hero__subtitle {
	font-size: 18px;
	line-height: 30px;
	color: #0b3b3c;

	/* mb40 */
	margin-bottom: 40px;
}

.hero__btn,
.hero__link {
	display: block;
	width: 320px;
	margin: 0 auto;
	border: none;
	/* pt15 */
	padding-top: 15px;
	/* pb10 */
	padding-bottom: 10px;
}

.hero__btn {
	background: #7e0707;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2.1px;
	text-transform: uppercase;
	color: #ffffff;

	margin-bottom: 20px;
}

.hero__link {
	border: 2px solid #7e0707;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2.1px;
	text-transform: uppercase;
	color: #7e0707;

	text-decoration: none;
}

/* ::selection {
	background: inherit;
}

html {
	cursor: none;
} */
.slider {
	margin-top: 150px;
	margin-bottom: 150px;
}
.slider__item {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1em;
	width: 300px;
	text-align: center;
}

.slider__item.active {
	display: flex;
}
.slider__item img {
	width: 100%;
	margin-left: 0;
}

.slider__container {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1em;
}
